html {
  font-family: "Roboto", sans-serif;
}

p {
  color: #717a81;
}

.btn {
  text-transform: uppercase;
  font-size: 15px;
}

.display-4 {
  color: #303132;
  font-weight: 700;
}

/*navbar*/
.nav-link {
  text-transform: uppercase;
}

#sm-icons {
  flex-direction: row;
}
#sm-icons .nav-link {
  padding-right: 1rem;
}

/*home*/
.home-container {
  background-image: url("https://images.unsplash.com/photo-1530053969600-caed2596d242?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  color: #fff;
  background-position: bottom;
  background-size: cover;
}

.home-row {
  padding-top: 10rem;
  padding-bottom: 6rem;
  text-align: center;
  height: 100%;
  display: block;
}

.home-title {
  padding-top: 5rem;
  padding-bottom: 3rem;
  font-size: 60px;
  font-weight: 600;
}

#ah h3 {
  color: #cacaca;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1.5px;
  line-height: 34px;
}

/*approche et méthode*/

#approche {
  font-size: 18px;
  line-height: 1.8rem;
}

/*Prestaions*/
#prestations {
  background-color: #101011;
  color: #fff;
  text-align: center;
}

h6 {
  letter-spacing: 1px;
}

.feature-icon {
  color: #39ae54;
}
.h6-presta {
  line-height: 1.8rem;
}
